@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* globals.css */
h1 {
  @apply text-5xl sm:text-6xl font-bold tracking-tight;
}
h2 {
  @apply text-4xl sm:text-5xl font-semibold;
}
h3 {
  @apply text-2xl font-medium;
}
p {
  @apply text-gray-600 text-base sm:text-lg;
}

body {
  background-color: #ffffff;
  color: #111111;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}
